.stock-preview-container{
	margin-top:30px;
	border-radius: 20px;
	border: solid #c3c3c3 1px;
	display: flex;
	flex-direction: column;
	width: 50%;
	box-shadow: #c0c0c0 0px 0px 10px 1px;
	background-color: rgba(255, 255 , 255 , 0.3);
	min-width: 250px;
	min-height: 200px;
}

.stock-preview-head{
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	color: #303030;
}

.close-button:hover {
	cursor: pointer;
}

.stock-value {
	font-size: 20px!important;
}
.green {
	color: green;
}
.red {
	color: red;
}
.stock-preview-content {
	text-align: center;
}