.stock-preview-page-cover {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.2);
	/*-webkit-filter: blur(3px);  Safari 6.0 - 9.0 
  	filter: blur(3px);*/
}
.stock-preview-container{
	/*position:fixed;*/
	/*top: 36vh;*/
	margin: 30vh auto;
	/*margin-top:30px;*/
	border-radius: 20px;
	border: solid #c3c3c3 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	box-shadow: #c0c0c0 0px 0px 10px 1px;
	background-color: rgba(255, 255 , 255 , 1);
	min-width: 300px;
	min-height: 200px;
	overflow:scroll;
}
.extended {
	margin: 7vh auto;
}
.stock-preview-blur{
	position:fixed;
	display: block;
	top:0;
	left: 0;
	/*z-index: -1;*/
	height: 100vh;
	width: 100vw;
	background:rgba(0,0,0,0.1);
	/*filter:blur(3px);*/
}
.padder{
	width:25px;
	height: 100%;
	display:block;
}

.bookmark-button{
	transition: color 0.35s;
}
.bookmark-button.bookmarked{
	color: #FF5D73;
}
.stock-preview-head{
	padding: 0px 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	color: #303030;
}

.stock-preview-footer{
	display: flex;
	min-height: 40px;
	background-color: rgba(200,200,200,0.3);
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.close-button:hover {
	cursor: pointer;
}

.stock-news-list{
	padding-left: 0!important;
}
.stock-news-item{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.news-item-copy{
	font-size: 0.8rem;
}

.news-item-image{
	width: 100%;
	height: auto;
}
.stock-value {
	font-size: 20px!important;
}
.stock-preview-content .green {
	color: green;
}
.stock-preview-content .red {
	color: red;
}
.stock-preview-content {
	padding-bottom: 30px;
	min-height: fit-content;
	text-align: center;
}

.stock-preview-content p{
	margin-top: 0;
}